<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>
    Add a new superhero
  </h1>
  <form method="POST" action="/newhero">
    <label for="name">Type in the superhero name:</label>
    <input type="text" id="name" name="superheroName">
    <label for="movies">How many movies have they appeared in:</label>
    <input type="number" id="movies" name="movies">
    <button>Add to the database!</button>
  </form>
</body>

</html>